.menuList{
    padding: 15px !important;
}

.menuItemText{
    color: #EDEDED;
}

.menuItemIcon{
    min-width: 20px !important;
    margin-right: 10px;
    font-size: 18px;
    color: #EDEDED !important;
}

.menuItemBtn{
    border-radius: 12px !important;
    margin-bottom: 8px !important;
}