.main-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.content-container{
    width: 100%;
    position: relative;
    display: flex;
}

.sidebar{
    width: 247px;
    min-width: 247px;
    position: relative;
    display: inline-block;
    background-color: var(--theme-color1);
    border-right: 1px solid var(--border-color);
    min-height: calc(100vh - 66px);
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out !important; 
    opacity: 1; /* Fully visible */
    overflow: hidden;
}

.content{
    width: 100%;
    position: relative;
    display: inline-block;
}

.sidebar.collapse {
    width: 0; /* Collapsed width */
    opacity: 0; /* Fully hidden */
    transition: all 0.3s ease-in-out;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .sidebar {
      width: 0; /* Initially collapsed */
      opacity: 0;
    }
  
    .sidebar:not(.collapse) {
      width: 247px;
      opacity: 1;
      position: absolute;
      z-index: 99;
      border: none;
    }
}


